kind: ConfigMap
apiVersion: v1
metadata:
  name: hamlet-nginx-conf-staging
data:
  nginx.conf: |+
    upstream docker-hamlet {
      server localhost:8080;
    }

    server {
      server_name hamlet-staging.zooniverse.org
      include /etc/nginx/ssl.default.conf;
      gzip_types *;

      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

      location ~ ^/static/ {
        root /static-assets/;
        gzip_static on; # to serve pre-gzipped version
        expires max;
        add_header Cache-Control public;
      }

      location / {
        proxy_pass http://docker-hamlet;
      }
    }
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: hamlet-staging-export-tmp
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: azurefile
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hamlet-staging-app
  labels:
    app: hamlet-staging-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hamlet-staging-app
  template:
    metadata:
      labels:
        app: hamlet-staging-app
    spec:
      containers:
        - name: hamlet-staging-app
          image: zooniverse/hamlet:__IMAGE_TAG__
          resources:
             requests:
               memory: "100Mi"
               cpu: "10m"
             limits:
               memory: "500Mi"
               cpu: "1000m"
          startupProbe:
            httpGet:
              path: /
              port: 8080
              httpHeaders:
                 - name: Host
                   value: "hamlet-staging.zooniverse.org"
            # wait 6 * 10 seconds(default periodSeconds) for the container to start
            # after this succeeds once the liveness probe takes over
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /
              port: 8080
              httpHeaders:
                 - name: Host
                   value: "hamlet-staging.zooniverse.org"
            # allow a longer response time than 1s
            timeoutSeconds: 30
          readinessProbe:
            httpGet:
              path: /
              port: 8080
              httpHeaders:
                 - name: Host
                   value: "hamlet-staging.zooniverse.org"
            # start checking for readiness after 20s (to serve traffic)
            initialDelaySeconds: 20
            # allow a longer response time than 1s
            timeoutSeconds: 10
          env:
            - name: DB_SSL_MODE
              value: require
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: DB_HOST
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: DB_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: DB_NAME
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: SECRET_KEY
            - name: PANOPTES_APPLICATION_ID
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: PANOPTES_APPLICATION_ID
            - name: PANOPTES_SECRET
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: PANOPTES_SECRET
            - name: SUBJECT_ASSISTANT_AZURE_ACCOUNT_NAME
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: SUBJECT_ASSISTANT_AZURE_ACCOUNT_NAME
            - name: SUBJECT_ASSISTANT_AZURE_ACCOUNT_KEY
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: SUBJECT_ASSISTANT_AZURE_ACCOUNT_KEY
            - name: SUBJECT_ASSISTANT_AZURE_CONTAINER_NAME
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: SUBJECT_ASSISTANT_AZURE_CONTAINER_NAME
            - name: SUBJECT_ASSISTANT_ML_SERVICE_CALLER_ID
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: SUBJECT_ASSISTANT_ML_SERVICE_CALLER_ID
            - name: SUBJECT_ASSISTANT_ML_SERVICE_URL
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: SUBJECT_ASSISTANT_ML_SERVICE_URL
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: AWS_SECRET_ACCESS_KEY
            - name: DJANGO_ENV
              value: staging
            - name: REDIS_URI
              value: "redis://hamlet-staging-redis"
            - name: STATIC_ROOT
              value: "/static-assets/static/"
          volumeMounts:
            - name: static-assets
              mountPath: "/static-assets"
        - name: hamlet-staging-nginx
          image: zooniverse/apps-nginx:xenial
          resources:
            requests:
              memory: "60Mi"
              cpu: "10m"
            limits:
              memory: "100Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /
              port: 80
              httpHeaders:
                 - name: Host
                   value: "hamlet-staging.zooniverse.org"
            initialDelaySeconds: 10
          ports:
            - containerPort: 80
          volumeMounts:
            - name: static-assets
              mountPath: "/static-assets"
            - name: hamlet-nginx-conf
              mountPath: "/etc/nginx-sites"
      volumes:
        - name: static-assets
          hostPath:
            # directory location on host node temp disk
            path: /mnt/hamlet-staging-app-static-assets
            type: DirectoryOrCreate
        - name: hamlet-nginx-conf
          configMap:
            name: hamlet-nginx-conf-staging
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hamlet-staging-celery
  labels:
    app: hamlet-staging-celery
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hamlet-staging-celery
  template:
    metadata:
      labels:
        app: hamlet-staging-celery
    spec:
      containers:
        - name: hamlet-staging-celery
          image: zooniverse/hamlet:__IMAGE_TAG__
          resources:
             requests:
               memory: "250Mi"
               cpu: "10m"
             limits:
               memory: "500Mi"
               cpu: "500m"
          args: ["bash", "/usr/src/app/start_worker.sh"]
          env:
            - name: DB_SSL_MODE
              value: require
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: DB_HOST
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: DB_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: DB_NAME
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: SECRET_KEY
            - name: PANOPTES_APPLICATION_ID
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: PANOPTES_APPLICATION_ID
            - name: PANOPTES_SECRET
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: PANOPTES_SECRET
            - name: SUBJECT_ASSISTANT_AZURE_ACCOUNT_NAME
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: SUBJECT_ASSISTANT_AZURE_ACCOUNT_NAME
            - name: SUBJECT_ASSISTANT_AZURE_ACCOUNT_KEY
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: SUBJECT_ASSISTANT_AZURE_ACCOUNT_KEY
            - name: SUBJECT_ASSISTANT_AZURE_CONTAINER_NAME
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: SUBJECT_ASSISTANT_AZURE_CONTAINER_NAME
            - name: SUBJECT_ASSISTANT_ML_SERVICE_CALLER_ID
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: SUBJECT_ASSISTANT_ML_SERVICE_CALLER_ID
            - name: SUBJECT_ASSISTANT_ML_SERVICE_URL
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: SUBJECT_ASSISTANT_ML_SERVICE_URL
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: hamlet-staging-conf
                  key: AWS_SECRET_ACCESS_KEY
            - name: DJANGO_ENV
              value: staging
            - name: REDIS_URI
              value: "redis://hamlet-staging-redis"
            - name: TMP_STORAGE_PATH
              value: "/export-tmp"
          volumeMounts:
          - name: hamlet-staging-export-tmp
            mountPath: "/export-tmp"
      volumes:
      - name: hamlet-staging-export-tmp
        persistentVolumeClaim:
          claimName: hamlet-staging-export-tmp
---
apiVersion: v1
kind: Service
metadata:
  name: hamlet-staging
spec:
  selector:
    app: hamlet-staging-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: hamlet-staging-redis
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: azurefile
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hamlet-staging-redis
  labels:
    app: hamlet-staging-redis
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: hamlet-staging-redis
  template:
    metadata:
      labels:
        app: hamlet-staging-redis
    spec:
      tolerations:
        - key: "servicelife"
          operator: "Equal"
          value: "longlife"
          effect: "NoSchedule"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: servicelife
                operator: In
                values:
                - longlife
      containers:
        - name: hamlet-staging-redis
          image: redis
          resources:
             requests:
               memory: "20Mi"
               cpu: "10m"
             limits:
               memory: "200Mi"
               cpu: "500m"
          volumeMounts:
          - name: hamlet-staging-redis-data
            mountPath: "/data"
      volumes:
      - name: hamlet-staging-redis-data
        persistentVolumeClaim:
          claimName: hamlet-staging-redis
---
apiVersion: v1
kind: Service
metadata:
  name: hamlet-staging-redis
spec:
  selector:
    app: hamlet-staging-redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
  type: NodePort
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: hamlet-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/proxy-buffer-size: "128k"
    nginx.ingress.kubernetes.io/proxy-body-size: 6m
spec:
  tls:
  - hosts:
    - hamlet.zooniverse.org
    secretName: zooniverse-org-tls
  rules:
  - host: hamlet-staging.zooniverse.org
    http:
      http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: hamlet-staging
            port:
              number: 80
  - host: hamlet.zooniverse.org
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: hamlet-staging
            port:
              number: 80
