<!doctype html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Hamlet{% endblock %}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
        <link href="{% static "main.css" %}" rel="stylesheet">
    </head>
    <body>
        <h1>Hamlet</h1>

        {% block nav %}
            <p>
                {% block projnav %}<a href="{% url 'index' %}">Projects list</a>&nbsp;&middot;&nbsp;{% endblock %}
                <a href="{% url 'logout' %}">Logout {{ user.username }}</a>
            </p>
        {% endblock %}

        {% block content %}
        {% endblock %}

    </body>
</html>
