<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Hamlet{% endblock %}</title>
    </head>
    <body>
        <h1>Hamlet</h1>

        {% block nav %}
            <p>
                {% block projnav %}<a href="{% url 'index' %}">Projects list</a>&nbsp;&middot;&nbsp;{% endblock %}
                <a href="{% url 'logout' %}">Logout {{ user.username }}</a>
            </p>
        {% endblock %}

        {% block content %}
        {% endblock %}

    </body>
</html>
