{% extends "base.html" %}

{% block title %}Projects &ndash; {{ block.super }}{% endblock %}

{% block projnav %}{% endblock %}

{% block content %}
    <h2>Projects</h2>
    <ul>
      {% for project in projects %}
      <li style="margin: 1em auto">
        <b>{{ project.display_name }}</b>
        <ul>
          <li><a href="{% url 'project' project.id %}">AutoML Export &raquo;</a></li>
          <li><a href="{% url 'ml_subject_assistant_list' project.id %}">Subject Assistant &raquo;</a></li>
        </ul>
      </li>
      {% endfor %}
    </ul>
{% endblock %}
