{% extends "base.html" %}

{% block title %}{{ project.display_name }} &ndash; {{ block.super }}{% endblock %}

{% block content %}

  <h2>Camera Trap Subject Assistant – Interface with MegaDetector</h2>

  <section class="info">
    <p>Most camera trap surveys have blank images containing no animals in them, which can be identified and cleared using the latest ML with no coding required. These instructions will help you run the MegaDetector model on Zooniverse and select which images to retain for volunteer review. </p>

    <ol>
      <li>Choose a subject set below and click <strong>Generate</strong> to submit your images to the external Machine Learning Service. </li>
      <li>Wait several minutes and refresh the page to see if your ML Task ID has been generated. (Note that your results may not be ready as soon as the link appears. You may be taken back to the Subject Assistant but will have to wait a bit longer to fetch the results.)</li>
      <li>Click on the ML Task ID link once it appears to return to Subject Assistant (Step 2) and view your results. </li>
      <li>At the bottom of the page, click the Fetch button to see your results. If the results are not immediately available, wait a few minutes and try clicking Fetch again. </li>
      <li>The Subject Assistant – Step 2 instructions will guide you through the rest of the process. </li>
    </ol>
    
    <p>⚠️ Please note that it may take a while for your job to be processed. It will take only <strong>a few minutes</strong> for your subject set to be exported to the external ML service, but it may take <strong>an hour or more</strong> for MegaDetector to review and label all of your photos.</p>
  </section>

  <h3>Subject Sets for {{ project.display_name }}</h3>
  <ul>
    {% for subject_set, data_export, external_web_app_url in ml_subject_assistant_exports %}
      <li style="margin: 1em auto">
        <form
          action="{% url 'ml_subject_assistant_export' project.id subject_set.id %}"
          method="post"
        >
          <div>
            {% csrf_token %}
            <b>{{ subject_set.id }} - {{ subject_set.display_name }}:</b> <input type="submit" value="Generate">
            {% if data_export.0 %}
              &nbsp;&middot;&nbsp;
              {{ data_export.0.get_status_display }}
            
              {% if data_export.0.get_status_display == 'Running' %}
              -- please refresh this page in one minute
              {% endif %}
            {% endif %}
          </div>
          
          {% if data_export.0.ml_task_uuid %}
          <div>
            <label style="display: block">
              ML Task ID: {{ data_export.0.ml_task_uuid }}
            </label>
            
            <a style="display: block" target="_blank" href="{{external_web_app_url}}">View the results on the Subject Assistant &raquo; </a>
          </div>
          {% endif %}
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
