{% extends "base.html" %}

{% block title %}{{ project.display_name }} &ndash; {{ block.super }}{% endblock %}

{% block content %}
  <h2>Subject Assistant</h2>

  <h3>Subject set export</h3>
  <ul>
    {% for subject_set, data_export, external_web_app_url in ml_subject_assistant_exports %}
      <li style="margin: 1em auto">
        <form
          action="{% url 'ml_subject_assistant_export' project.id subject_set.id %}"
          method="post"
        >
          <div>
            {% csrf_token %}
            <b>{{ subject_set.id }} - {{ subject_set.display_name }}:</b> <input type="submit" value="Generate">
            {% if data_export.0 %}
              &nbsp;&middot;&nbsp;
              {{ data_export.0.get_status_display }}
            {% endif %}
          </div>
          
          {% if data_export.0.ml_task_id %}
          <div>
            <label style="display: block">
              ML Task ID: {{ data_export.0.ml_task_id }}
            </label>
            
            <a style="display: block" target="_blank" href="{{external_web_app_url}}">View the results on the Subject Assistant &raquo; </a>
          </div>
          {% endif %}
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
