{% extends "base.html" %}

{% block title %}{{ project.display_name }} &ndash; {{ block.super }}{% endblock %}

{% block content %}
  <h2>Subject Assistant</h2>

  <h3>Subject set export</h3>
  <ul>
    {% for subject_set, data_export in ml_subject_assistant_exports %}
      <li>
        <form action="{% url 'ml_subject_assistant_export' project.id subject_set.id %}" method="post">
          {% csrf_token %}
          {{ subject_set.id }} - {{ subject_set.display_name }}: <input type="submit" value="Generate">
          {% if data_export.0 %}
            &nbsp;&middot;&nbsp;
            {{ data_export.0.get_status_display }}
          {% endif %}
          {% if data_export.0.json %}
            &nbsp;&middot;&nbsp;
            <a href="{{ data_export.0.json.url }}">Download</a>
            &nbsp;&middot;&nbsp;
            <input type="text" name="download-url" value="{{ data_export.0.json.url }}" readonly>
          {% endif %}
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
