{% extends "base.html" %}

{% block title %}{{ project.display_name }} &ndash; {{ block.super }}{% endblock %}

{% block content %}
    <script type"text/javascript">
        function copyurl(field) {
            field.select();
            document.execCommand("copy");
            var copystatus = document.createElement("span");
            copystatus.innerHTML = 'Copied!';
            field.parentNode.insertBefore(copystatus, field.nextSibling);
            window.setTimeout(function() {
                copystatus.parentNode.removeChild(copystatus);
            }, 2000);
        }
    </script>
    <h2>Downloads for <em>{{project.display_name}}</em></h2>

    <h3>AutoML – Interface with Google Cloud Storage</h3>

    <p>Google Cloud Storage offers a service called AutoML that allows you to train models using image or video data without writing code or preparing data splits. These instructions will help you format your data for Google’s services after Zooniverse’s volunteers have labeled the images.<p>

    <ol>
        <li>
            <h4>Generate subject set export</h4>
            <p>In the Subject Set Export options below, click Generate to select the subject set for analysis. When it is ready, a link will appear next to the export button.</p>
        </li>
        <li>
            <h4>Transfer images to Google Cloud Storage</h4>
            <p>When the export is complete, copy the subject set export URL that appears next to the subject set into <a href="https://cloud.google.com/storage-transfer/docs/">Google Cloud Storage's transfer service</a> to copy your images into the storage bucket you’ll use for AutoML. Producing the export may take some time, especially if you have a large dataset, so please be patient and do not click multiple times.</p>
        </li>
        <li>
            <h4>Perform a Caesar subject reductions export</h4>
            <p>To prepare the data manifest, run a subject reductions export in <a href="https://caesar.zooniverse.org/">Caesar</a>. If you haven’t already, set up a Consensus reducer following these <a href="https://zooniverse.github.io/caesar/#creating-reducers">instructions</a>. Then create a new Data Request within Caesar to pull the “most likely” labels assigned by volunteers for model training.</p>
        </li>
        <li>
            <h4>Generate workflow labels export</h4>
            <p>Under Workflow labels export below, select the workflow from which you want to export your data, which should correspond with the workflow accessed in Caesar. Enter the URL of your Google storage, starting with <code><strong>gs://</strong></code> and without a slash at the end. </p>
            <p>Note that any subjects not included in the step 1 export will not be included in this report. </p>
        </li>
        <li>
            <h4>Train your AutoML model</h4>
            <p>After you download the results for your workflow labels export, upload it to your Google Cloud Storage bucket in order to train your model. </p>
        </li>
    </ol>

    <h3>Subject set export</h3>
    <ul>
        {% for subject_set, exports in subject_set_exports %}
            <li>
                <form action="{% url 'subject_set' project.id subject_set.id %}" method="post">
                    {% csrf_token %}
                    {{ subject_set.display_name }}: <input type="submit" value="Generate">
                    {% if exports.0 %}
                        &nbsp;&middot;&nbsp;
                        {{ exports.0.get_status_display }}
                    {% endif %}
                    {% if exports.0.csv %}
                      &nbsp;&middot;&nbsp;
                      <a href="{{ exports.0.csv.url }}">Download</a>
                      &nbsp;&middot;&nbsp;
                      <input type="text" name="download-url" value="{{ exports.0.csv.url }}" readonly onclick="copyurl(this)">
                    {% endif %}
              </form>
          </li>
      {% endfor %}
    </ul>

    <h3>Workflow labels export</h3>
    <ul>
      {% for workflow, exports in workflow_exports %}
      <li>{{ workflow.display_name }}
          <form action="{% url 'workflow' project.id workflow.id %}" method="post">
              {% csrf_token %}
              {{ workflow_export_form.as_p }}
              <input type="submit" value="Generate">
          </form>
          {% if exports.0 %}({{ exports.0.get_status_display }}){% endif %}{% if exports.0.csv %}&nbsp;&middot;&nbsp;<a href="{{ exports.0.csv.url }}">Download</a>{% endif %}</li>
      {% endfor %}
    </ul>
{% endblock %}
